body {
    font-family: "Arial", sans-serif;
    font-weight:bold;
}

section {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 18rem;
    margin: auto auto;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-shadow: 0 0 0 1px black;
    padding-top:1rem;
    font-size: 5rem;
}

.clean{
    width: 100px;
    height: 100px;
}